* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #3C3C3C;
}

.assistant {
    width: 1000px;
    margin: auto;
    padding: 0 100px;
    background-color: #F5F5F5;
    line-height: 45px;
}

ul {
    padding-left: 50px;
    list-style-type: circle;
}

h1 {
    padding: 30px 0 30px 0;
    text-align: center;
    color: #FF5A5F;
}

.Photo {
    position: absolute;
    top: 25%;
    right: 30%;
}

img {
    background-color: #3C3C3C;
    border-radius: 10px;
}
blockquote {
    margin: 0;
    background: #F0F0F1;
    color: #3C3C3C;
    padding: 5px 5px;
    position: relative;
    border-left: 35px solid #DFDEDE;
    font-family: Arial, Helvetica, sans-serif
    }
    blockquote:before {
    content: "\201C";
    font-family: serif;
    position: absolute;
    left: -29px;
    top: 5px;
    color: #BCBCBC;
    font-size: 50px;
    text-shadow: 1px 2px 0 white;
    }
    blockquote p {
    margin: 0 0 16px;
    font-size: 18px;
    letter-spacing: .05em;
    line-height: 1.4;
    font-style: italic;
    }
    blockquote cite {
    font-style: normal;
    font-weight: bold;

    }